In [12]:
# Imports

from injector import Injector
import logging.config
import os
import sys

module_path = os.path.abspath(os.path.join('..'))

if module_path not in sys.path:
    sys.path.append(module_path)

from estimize.di.default_module import DefaultModule
    
injector = Injector([DefaultModule])

# Asset Info Service

In [13]:
from estimize.services import AssetInfoService

asset_info_service = injector.get(AssetInfoService)

aidf = asset_info_service.get_asset_info()
print('Num Assets: ', len(aidf))
display(aidf.head(5))

Num Assets:  2190

,instrument_id,cusip,name,sector,industry
asset,,,,,
Equity(0 [A]),1384,00846U101,Agilent Technologies Inc.,Health Care,Life Sciences Tools & Services
Equity(1 [AA]),2951,013872106,Alcoa Corp.,Materials,Metals & Mining
Equity(2 [AAL]),1670,02376R102,American Airlines Group Inc.,Industrials,Airlines
Equity(4 [AAN]),492,002535300,"Aaron's, Inc.",Consumer Discretionary,Specialty Retail
Equity(5 [AAOI]),2521,03823U102,"Applied Optoelectronics, Inc.",Information Technology,Communications Equipment

# Asset Service

In [14]:
from estimize.services import AssetService

asset_service = injector.get(AssetService)

## get_asset

In [15]:
ticker = 'AAPL'
asset = asset_service.get_asset(ticker)
display(asset)

Equity(8 [AAPL])

## get_assets

In [16]:
tickers = ['AAPL', 'MSFT', 'AMZN']
assets = asset_service.get_assets(tickers)
display(assets)

[Equity(8 [AAPL]), Equity(1894 [MSFT]), Equity(167 [AMZN])]

## get_moving_average

In [35]:
start_date = '2017-01-01'
end_date = '2018-04-01'
assets = asset_service.get_assets(tickers)
madf = asset_service.get_moving_average(start_date, end_date, assets)
display(madf.tail(5))

                                moving_average
as_of_date asset
2018-03-23 Equity(167 [AMZN])      1402.766349
           Equity(1894 [MSFT])       90.932698
2018-03-26 Equity(8 [AAPL])         172.354127
           Equity(167 [AMZN])      1408.815556
           Equity(1894 [MSFT])       91.064127

## get_returns

In [18]:
rdf = asset_service.get_returns(start_date, end_date, assets)
display(rdf.head(5))

                                close_return  inter_day_return  \
as_of_date asset
2010-09-29 Equity(8 [AAPL])         0.001778          0.001290
           Equity(167 [AMZN])      -0.004446         -0.004195
           Equity(1894 [MSFT])     -0.007173         -0.001905

                                intra_day_return  open_return
as_of_date asset
2010-09-29 Equity(8 [AAPL])             0.000487     0.006162
           Equity(167 [AMZN])          -0.000252     0.006162
           Equity(1894 [MSFT])         -0.005278    -0.000812

## get_universe

In [33]:
udf = asset_service.get_universe(start_date, end_date, assets)
display(udf.tail(5))

Empty DataFrame
Columns: []
Index: [(2013-01-30 00:00:00, Equity(167 [AMZN])), (2013-01-30 00:00:00, Equity(1894 [MSFT])), (2013-01-31 00:00:00, Equity(8 [AAPL])), (2013-01-31 00:00:00, Equity(167 [AMZN])), (2013-01-31 00:00:00, Equity(1894 [MSFT]))]

# Estimize Consensus Service

In [20]:
from estimize.services import EstimizeConsensusService

estimize_consensus_service = injector.get(EstimizeConsensusService)

## get_consensuses

In [32]:
asset = asset_service.get_asset('AAPL')
ecdf = estimize_consensus_service.get_consensuses(assets=[asset])
print('Num Rows: ', len(ecdf))
display(ecdf.tail(5))

Num Rows:  9494

                             fiscal_year  fiscal_quarter reports_at_date  \
as_of_date asset
2018-03-30 Equity(8 [AAPL])         2018               3      2018-07-31
2018-03-31 Equity(8 [AAPL])         2018               2      2018-05-01
           Equity(8 [AAPL])         2018               3      2018-07-31
           Equity(8 [AAPL])         2019               1      2019-01-31
           Equity(8 [AAPL])         2018               4      2018-11-01

                               bmo  estimize.eps.weighted  estimize.eps.mean  \
as_of_date asset
2018-03-30 Equity(8 [AAPL])  False               2.215888           2.181351
2018-03-31 Equity(8 [AAPL])  False               2.735019           2.755100
           Equity(8 [AAPL])  False               2.215888           2.181351
           Equity(8 [AAPL])  False               4.588470           4.474400
           Equity(8 [AAPL])  False               2.647359           2.457212

                             estimize.eps.high  estimize.eps.low  \
as_of_date asset
2018-03-30 Equity(8 [AAPL])               2.44              1.87
2018-03-31 Equity(8 [AAPL])               3.26              2.09
           Equity(8 [AAPL])               2.44              1.87
           Equity(8 [AAPL])               4.64              3.86
           Equity(8 [AAPL])               3.00              1.97

                             estimize.eps.sd  estimize.eps.count  \
as_of_date asset
2018-03-30 Equity(8 [AAPL])         0.094738                 148
2018-03-31 Equity(8 [AAPL])         0.154888                 300
           Equity(8 [AAPL])         0.094738                 148
           Equity(8 [AAPL])         0.209210                  25
           Equity(8 [AAPL])         0.144005                 104

                             estimize.revenue.weighted  estimize.revenue.mean  \
as_of_date asset
2018-03-30 Equity(8 [AAPL])               52527.156298           53784.387755
2018-03-31 Equity(8 [AAPL])               61776.561862           63721.170569
           Equity(8 [AAPL])               52527.156298           53784.387755
           Equity(8 [AAPL])               86068.692565           85673.384615
           Equity(8 [AAPL])               59126.584523           57735.252427

                             estimize.revenue.high  estimize.revenue.low  \
as_of_date asset
2018-03-30 Equity(8 [AAPL])                57763.0               50000.0
2018-03-31 Equity(8 [AAPL])                70976.0               54765.0
           Equity(8 [AAPL])                57763.0               50000.0
           Equity(8 [AAPL])                92973.0               83479.0
           Equity(8 [AAPL])                61783.0               54000.0

                             estimize.revenue.sd  estimize.revenue.count  \
as_of_date asset
2018-03-30 Equity(8 [AAPL])          1259.361924                     147
2018-03-31 Equity(8 [AAPL])          2614.671414                     299
           Equity(8 [AAPL])          1259.361924                     147
           Equity(8 [AAPL])          2106.035595                      26
           Equity(8 [AAPL])          1229.675683                     103

                             wallstreet.eps  wallstreet.revenue  actual.eps  \
as_of_date asset
2018-03-30 Equity(8 [AAPL])           2.168           51744.281         NaN
2018-03-31 Equity(8 [AAPL])           2.709           61416.025         NaN
           Equity(8 [AAPL])           2.168           51744.281         NaN
           Equity(8 [AAPL])           4.530           85214.250         NaN
           Equity(8 [AAPL])           2.592           58177.337         NaN

                             actual.revenue
as_of_date asset
2018-03-30 Equity(8 [AAPL])             NaN
2018-03-31 Equity(8 [AAPL])             NaN
           Equity(8 [AAPL])             NaN
           Equity(8 [AAPL])             NaN
           Equity(8 [AAPL])             NaN

# Market Cap Service

In [30]:
from estimize.services import MarketCapService

market_cap_service = injector.get(MarketCapService)

mcdf = market_cap_service.get_market_caps()
display(mcdf.tail(5))

                                  market_cap market_cap_type
as_of_date asset
2018-03-29 Equity(3194 [ZNGA])  3.569230e+09             Mid
           Equity(3195 [ZOES])  3.124862e+08           Small
           Equity(3196 [ZQK])   1.094056e+09           Small
           Equity(3197 [ZTS])   3.522607e+10           Large
           Equity(3198 [ZUMZ])  5.500264e+08           Small

# Factor Service

In [36]:
from estimize.services import FactorService

factor_service = injector.get(FactorService)

In [38]:
asset = asset_service.get_asset('AAPL')
fdf = factor_service.get_market_factors(assets=[asset])
display(fdf.tail(5))

                                alpha      beta
as_of_date asset
2018-03-19 Equity(8 [AAPL]) -0.000007  1.038112
2018-03-20 Equity(8 [AAPL])  0.000039  1.037642
2018-03-21 Equity(8 [AAPL]) -0.000064  1.043301
2018-03-22 Equity(8 [AAPL]) -0.000065  1.014678
2018-03-23 Equity(8 [AAPL]) -0.000001  1.019975